@charset "utf-8";

.post-title {
  text-align: center;
}

.post-author {
  display: none;
}

.post-content :is(h1, h2, h3, h4, h5, h6) {
  margin: 10px 0px 5px 0px !important;
}

.post-content p {
  line-height: 20px;
}

.post-content img {
  display: block;
  margin: 10px auto;
}

.post-info::before {
  margin-bottom: 5px;
  display: block;
  content: "";
  background: black;
  position: relative;
  width: 35%;
  border-top: solid 1px #aaa;

}

.post-info {

  line-height: 24px;
  margin: 15px 0px 10px 0;
}

.post-category, .post-tag {
  margin: 0 5px;
}